@import "bootstrap-sprockets";
@import "bootstrap";

/* for headers */
@import url(https://fonts.googleapis.com/css?family=Lora:700);
/* for paragraphs and lists */
@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic,700italic,700);

/* Universal */

 $darker-brown: #2C1912; 

h1, h2, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
  color: $darker-brown;
}

p, li {
  font-family: 'Arimo', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: $darker-brown;
}

/* For Header */

h1 {
  padding-top: 15px;
  padding-left: 15px;
  display: inline-block;
  float: left;
}
ul.nav.navbar-nav.navbar-right {
  margin-top: 40px;
  margin-right: 0;
  li a {
  font-size: 20px;
  
  } 
}
/* For Home Page */

.header-image {
  img {           
    display: block;              
    width: 100%;
    height: 450px;
  }
}
.well {
  margin-top: 15px;      
}




