@import "bootstrap-sprockets";
@import "bootstrap";

/* for headers */
@import url(https://fonts.googleapis.com/css?family=Lora:700);
/* for paragraphs and lists */
@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic,700italic,700);

/* Universal */

 $darker-brown:     #2C1912;
 $medium-gray:      #545454;
 $light-gray:       #737373;
 $soft-blue:        #82C1F6;
 $light-brown:      #97543B;
 $medium-orange:    #e59400;
 $burnt-orange:     #cc5500;
 /*  */

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1, h2, h2, h3, h4, h5, h6 {
  font-family: 'Lora', serif;
  color: $darker-brown;
}

p, li {
  font-family: 'Arimo', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: $darker-brown;
}

 
/* For Header */

h1 {
  padding-top: 15px;
  padding-left: 15px;
  display: inline-block;
  float: left;
  a {
  color: $burnt-orange;
  &:hover {
    color: $medium-orange;
    text-decoration: none; 
  }
}  
}
ul.nav.navbar-nav.navbar-right {
  margin-top: 40px;
  margin-right: 0px;
  li a {
    font-size: 20px;
    color: $burnt-orange;
  } 
}

/* For Home Page */

.header-image {
  img {           
    display: block;              
    width: 100%;
    height: 450px;
  }
}
.well {
  margin-top: 15px;      
}

/* For Footer */

footer {
  height: 60px;
  width: 100%;
  background-color: $darker-brown;
  a {
    color: $burnt-orange;
    font-size: 18px;
    &:hover {
      color: $medium-orange;
      text-decoration: none;
    }
  }   
  ul {
    margin-top: 20px;
    margin-left: -70px;
    li {
      display: inline;
      list-style-type: none;
      padding-right: 20px;
      padding-right: 10px;
      a {
        font-family: 'Arimo', sans-serif;
        font-size: 18px;
        font-weight: 400;      
        color: $burnt-orange;       
        &:hover {
          color: $medium-orange;
          text-decoration: none;
        }
      } 
    }
  }
  #footer-contact {                
    margin-top: 20px;
    margin-right: 80px;
    float: right
  } 
}


