@import "AA_universal";

/* For Footer */

footer {
  height: 60px;
  width: 100%;
  background-color: $darker-brown;
  .footer-nav {
    padding-top: 20px;              
  }
  a {
    color: $burnt-orange;
    font-size: 18px;
    &:hover {
      color: $medium-orange;
      text-decoration: none;
    }
  }
  ul {
    margin: 0px;
    width: 300px;
    display: inline;
    li {
      display: inline;
      list-style-type: none;
      padding-right: 10px;
      a {
        font-family: 'Arimo', sans-serif;
        font-size: 18px;
        font-weight: 400;      
        color: $burnt-orange;       
        &:hover {
          color: $medium-orange;
          text-decoration: none;
        }
        @media (max-width: 800px) {
          display: none;
        }
      } 
    }
  }
  #footer-contact {                

    margin-right: 80px;
    margin-bottom: 0;
    margin-top: 0;
    display: inline;
    float: right;
  }           
}

